@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lalezar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Inter;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.container {
  width: 100%;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.gap-10 {
  gap: 10px;
}
.gap-9 {
  gap: 9px;
}
.gap-8 {
  gap: 8px;
}
.gap-7 {
  gap: 7px;
}
.gap-6 {
  gap: 6px;
}
.gap-5 {
  gap: 5px;
}
.gap-4 {
  gap: 4px;
}
.gap3 {
  gap: 3px;
}
.font600 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}
.subheadline {
  color: rgb(167, 167, 167);
  display: block;
  text-align: center;
  margin-top: 10px;
}

.card {
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 20px;
  border: 2px solid #f1f1f1;
  /* flex: 1 1 0; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
 width: 160px;
  height: 200px;
  /* position: relative; */

  transition: all 0.7s;
}
.card > div > img {
  max-width: 100%;

  border: 0;
  vertical-align: middle;
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;

  display: inline-block;
  border-radius: inherit;
}
/* .card:hover {
  width: 200px;
  filter: saturate(100%);
} */

.cardcontainer {
  display: flex;
  
  gap: 10px;
}
.tag {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
  text-align: center;
}
.logo {
  max-width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: contain;
}
.logo_container {
  width: 70px;
  height: 70px;
  background-color: #f7f7f7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-links {
}
.email {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  line-height: 1.2;
  transition: all 0.4s;
  font-weight: 600;
}
.call {
  background-color: #ebebeb;
  color: black;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  line-height: 1.2;
  transition: all 0.4s;
  font-weight: 600;
}

.footer-slogan {
  margin-top: 24px;
  font-weight: 600;
  line-height: 1rem;
  color: #2229;
  text-align: center;
  font-size: 0.75rem;
}

.services {
  position: absolute;
  width: 100%;
  bottom: -40px;
  left: 0;
  right: 0;

  transform: translateX(50%);
  transition: all 0.4s;
  transform: translateY(100%);
  /* border: 2px solid red; */
}

#service img {
  width: 100%;
  height: auto;
}
.service_img {
  max-width: 100%;
  height: 100%;
  border-radius: inherit;
  object-fit: contain;
}

.service {
  width: 300px;
  border-radius: 10px;
  background-color: #f7f7f7;
  padding: 16px;
  margin-top: -20px;
  border: 2px solid #f1f1f1;
}

.service > h1 {
  font-size: 16px;
}
.service-hide {
}
.card:hover{
  width: 176px;
 
   /* background: #000; */
   /* transform: rotate(30deg); */
   /* color: #f1f1f1; */
}

.service-container:hover .services {
  /* transform: translateY(0);
   */
  transform: translateY(0);
  /* bottom: 0; */
  /* bottom: 0; */
}

.work {
  position: absolute;
  /* left: 0; */
  /* width: 100%; */
  width: 20vw;
  /* height: 200px; */
  background: #f7f7f7;
  
  
}
.work-1 {
  /* left: 50px;
  top: 150px; */
  inset: 9% auto auto 6%;
  rotate: -10deg
}
.work-2 {
  /* right: 50px;
  top: 150px; */
  width: 20vw;
  inset: 8% 5% auto auto;;
}
.work-3 {
  /* left: 50px;
  bottom: 60px; */
  inset: auto auto -3% 4%;
  width: 20vw;
}
.work-4 {
  /* s */
  width: 20vw;
  inset: auto 7% 6% auto;
  transform: rotate(4deg);
}
.works-container:hover .works {
  display: block !important;
  transition: all 0.7s;
}
.works-container {
  transition: all 0.7s;
}
.works {
  display: none;
  transition: all 0.7s;
}
.work::before {
  content: "";
  background-image: linear-gradient(#0000 15%, #fff);
  position: absolute;
  inset: 0%;
  transition: all 0.7s;
}

.work_img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  border:0;
  border-radius: 4px;
}

.card:hover .card > div {
  width: 180px;
}
.work-1 > .work_img_small {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.work-1:nth-child(1) {
}

.works-modal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  /* margin: auto; */
  left: 50%;
  transform: translateX(-50%);
  /* background-color: red; */
  backdrop-filter: blur(5px);
  background-color: #00000040;
  overflow: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;

}
.btn-close {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
   position: fixed;
  right: 0; */
  /* margin: auto; */
  margin-top: 20px;
  margin-right: 20px;
  backdrop-filter: blur(30px);
}
.modal-card {
  /* background-color: #f1f1f1; */

  border-radius: 20px;
}

.modal-container {
  /* background-color: #fff0;
  border-radius: 24px;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 62.5em;
  min-height: 52em;
  padding: 0;
  height: 45rem;
  display: flex;
  overflow: scroll; */
  /* z-index: 2;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-direction: column;
  width: 100%;
  margin-top: -2.2rem;
  display: flex;
  position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  gap:20px
}
.modal {
  /* background-color: #fff0;
  border-radius: 24px;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 62.5rem;
  min-height: 52rem;
  padding: 0;
  display: flex;
  overflow: scroll; */
  max-width: 62.5rem;
  display: flex;
  min-height: 52rem;
  background-color: #fff0;
  justify-content: center;
  overflow: scroll;
  /* gap: 0px; */
  height: 100%;
  scroll-behavior: smooth;
  margin: auto;
}

.modal-card >div >img{
  width: 100%;
  object-fit: contain;
  height: 100%;
  border-radius: 20px;
}
.display-none{
  display: none;
}
.btn{
  cursor: pointer;
}